# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [5]:

import pandas as pd

# Load all three CSV files
file1 = pd.read_csv("filetwo.csv")     # file1 is mislabeled, it's actually file2
file2 = pd.read_csv("filethree.csv")   # file2 is mislabeled, it's actually file3

In [6]:
# Standardize column names
def standardize_columns(df):
    df.columns = df.columns.str.lower().str.replace(" ", "_")
    return df

file1 = standardize_columns(file1)
file2 = standardize_columns(file2)

# Clean file1 (remove '%' and extract complaint numbers)
file1['customer_lifetime_value'] = file1['customer_lifetime_value'].str.replace('%', '').astype(float) / 100
file1['number_of_open_complaints'] = file1['number_of_open_complaints'].str.extract('(\d+)').astype(float)

In [4]:
# Combine both cleaned dataframes
combined_data = pd.concat([file1, file2], ignore_index=True)
combined_data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class,state
0,GS98873,Arizona,F,Bachelor,3239.1247,16061,88,1.0,633.6,Personal Auto,Four-Door Car,NaN
1,CW49887,California,F,Master,4626.8011,79487,114,1.0,547.2,Special Auto,SUV,NaN
2,MY31220,California,F,College,8997.0402,54230,112,1.0,537.6,Personal Auto,Two-Door Car,NaN
3,UH35128,Oregon,F,College,25807.0630,71210,214,1.0,1027.2,Personal Auto,Luxury Car,NaN
4,WH52799,Arizona,F,College,3808.1221,94903,94,1.0,451.2,Corporate Auto,Two-Door Car,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [7]:
# Load marketing dataset
marketing_df = pd.read_csv("marketing_customer_analysis_clean.csv")

# Standardize column names
marketing_df.columns = marketing_df.columns.str.lower().str.replace(" ", "_")

In [8]:
# Total revenue by sales channel
revenue_by_channel = marketing_df.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)

revenue_by_channel

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [9]:
# Total revenue by sales channel
revenue_by_channel = marketing_df.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)

revenue_by_channel

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [10]:
# Average CLV by gender and education
clv_by_group = marketing_df.pivot_table(
    index=['gender', 'education'],
    values='customer_lifetime_value',
    aggfunc='mean'
).round(2)

clv_by_group

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [11]:
# Convert to datetime and extract month
marketing_df['effective_to_date'] = pd.to_datetime(marketing_df['effective_to_date'])
marketing_df['month'] = marketing_df['effective_to_date'].dt.month_name()

# Complaints by policy type and month
complaints_table = marketing_df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()
complaints_table

      policy_type     month  number_of_open_complaints
0  Corporate Auto  February                 385.208135
1  Corporate Auto   January                 443.434952
2   Personal Auto  February                1453.684441
3   Personal Auto   January                1727.605722
4    Special Auto  February                  95.226817
5    Special Auto   January                  87.074049